
.card{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 1%;
    width: 15%;
    min-width: 300px;
    &__header{
        display: flex; 
        justify-content: space-between;
        &__left{
            h5{
                font-size: 24px;
                margin-bottom: 1%;
            }
            span{
                color: rgb(185, 185, 185);
                font-size: 16px;
            }
        }
        button{
            background-color: white;
            border: none;
            width: 24px;
            height: 24px;
            i{
                font-size: 24px;
                color:#ED3F3F;
            }
        }
    }
    &__img{
        padding: 25% 0%;
    }
    &__properties{
        margin-top: 3%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 2%;
        font-size: 16px;
        img{
            width: 16px;
        }
        span{
            margin-right: 10px;
        }
        margin-bottom: 10%;
    }
    &__bottom{
        display: flex;
        gap: 10px;
        &__left{

            span{
                font-size: 24px;
            }
        }
        &__right{
            display: flex;
            justify-content: center;
            button{
                text-align: center;
                
                border-radius: 5px;
                background-color: #3563E9;
                padding: 10px;
                border: none;
                color: white;
            }
        }
        }
    }

    // ------------------?

    @media screen and (max-width: 768px) {
        .card {
            width: 50%;
        }
    
        .card__header {
            flex-direction: column; 
            align-items: center; 
        }}
    // -----------------TABLE SCSS

/* Modify the CSS */
  
  #delete{
    border: none;
    background-color: red;
    padding: 5px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
  }
  tbody {
    tr {
        td {
            img {
                width:100px;
            }
        }
    }
}


// -------------VIEWALL

.view{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    color: rgb(161, 161, 161);
    margin-bottom: 7%;


}
.all{
    color: #3563E9;
}
.cars{
    margin-left: -3%;
    display: flex;
    gap: 5%;
}
.overlay{
    display: none;
}

@media screen and (max-width: 1000px) {
    .d{
        position: relative;
    }
    .carsItem{
        margin-left: -3%;
        display: flex;
        gap: 5%;
        overflow-x: scroll;
        position: relative;
        z-index: 0;
    }
    .overlay{
        display: block;
        position: absolute;
        width: 100px;
        height: 100%;
        background-color: #fff  ;
        opacity:  0.5   ;
        top: 0;
        right: 0;
        z-index: 10;
    }
    
}
.check{
    i{
        color: transparent !important;
        text-shadow: 0px 0px 1px rgba(0,0,0,1);
    }
}

.carsItem{
    gap: 20px;
    display: flex;
    justify-content: space-between;
}
div#carlist {
    flex-wrap: wrap;
    gap: 100px;
    margin: 100px;
}

table.table{
    margin:100px auto;

    width: 50%;
    border: 1px solid black;
    border-collapse: collapse;
    thead,tbody{
        min-width: 280px;
        max-width: 1000px;  
    }
    th,td{
        max-width: 10%;
        text-align: center;
        border: 1px solid black;
    }
    button{
        // padding: 15px;
        // border: 0;
        // font-weight: bold;
        // font-size: 18px;
        // border-radius: 12px;
    }
    .btn-danger{
        background-color: red;
        color: #fff;
    }
    .btn-primary{
        background-color: rgb(42, 85, 217);
        color: #fff;
    }
}
