/* Reset CSS */
/* Box-sizing border-box for all elements */
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
figure,
blockquote,
fieldset,
legend,
button,
input,
select,
textarea {
  margin: 0;
  padding: 0; }

/* Remove list styles on ul and ol elements */
ul,
ol {
  list-style: none; }

/* Set default styles for the body */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6; }

/* Remove the default border on hyperlinks */
a {
  text-decoration: none;
  color: inherit; }

/* Remove default outline on focused elements */
button,
input,
select,
textarea {
  outline: none; }

/* Ensure images are responsive */
img {
  max-width: 100%;
  height: auto; }

/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both; }

/* Optional: Add your own custom styles below this line */
/* End Reset CSS */
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; }

.foot1 {
  display: flex;
  padding: 5% 0%; }
  .foot1__left p {
    width: 50%;
    font-size: 16px;
    color: #858585; }
  .foot1__left h2 {
    font-size: 32px;
    margin-bottom: 3%;
    color: #3563E9; }

.foot1__right {
  display: flex;
  gap: 5%; }
  .foot1__right ul {
    display: flex;
    flex-direction: column; }
    .foot1__right ul h2 {
      margin-bottom: 10%; }
    .foot1__right ul li {
      margin-top: 15%;
      color: #868686;
      font-size: 16px; }

.foot2 {
  display: flex;
  justify-content: space-between;
  padding: 3% 0%;
  border-top: 1px solid gray; }
  .foot2__right {
    display: flex;
    gap: 10%; }
    .foot2__right span {
      font-size: 16px; }

hr {
  width: 90%;
  color: #cecece; }

@media screen and (max-width: 1056px) {
  .foot1 {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .foot1__left {
    width: 100%;
    margin-bottom: 20px; }
  .foot1__left h2 {
    font-size: 24px;
    margin-bottom: 10px; }
  .foot1__left p {
    width: 100%;
    font-size: 14px; }
  .foot1__right {
    width: 100%;
    flex-direction: column;
    gap: 20px; }
  .foot1__right ul {
    width: 100%;
    margin: 0; }
  .foot1__right ul h2 {
    font-size: 18px;
    margin-bottom: 5px; }
  .foot1__right ul li {
    margin: 0; }
  .foot2 {
    flex-direction: column;
    align-items: center;
    padding: 10px 0; }
  .foot2_right {
    width: 100%;
    text-align: center;
    gap: 10px; } }

@media screen and (max-width: 375px) {
  .foot1 {
    flex-direction: column;
    align-items: center;
    text-align: center; }
  .foot1__left {
    width: 100%;
    margin-bottom: 20px; }
  .foot1__left h2 {
    font-size: 24px;
    margin-bottom: 10px; }
  .foot1__left p {
    width: 100%;
    font-size: 14px; }
  .foot1__right {
    width: 100%;
    flex-direction: column;
    gap: 20px; }
  .foot1__right ul {
    width: 100%;
    margin: 0; }
  .foot1__right ul h2 {
    font-size: 18px;
    margin-bottom: 5px; }
  .foot1__right ul li {
    margin: 0; }
  .foot2 {
    flex-direction: column;
    align-items: center;
    padding: 10px 0; }
  .foot2_right {
    width: 100%;
    text-align: center;
    gap: 10px; } }

.container {
  width: 1440px;
  margin: 0 auto; }

.container-fluid {
  width: 100%; }

.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px; }

.col-1 {
  width: calc(100% / 12); }

.col-2 {
  width: calc(100% / 6); }

.col-3 {
  width: calc(100% / 4); }

.col-4 {
  width: calc(100% / 3); }

.col-5 {
  width: calc(100% / 12 *5); }

.col-6 {
  width: calc(100% / 2); }

.col-7 {
  width: calc(100% / 12 * 7); }

.col-8 {
  width: calc(100% / 3 * 2); }

.col-9 {
  width: calc(100% / 4 * 3); }

.col-10 {
  width: calc(100% / 6 * 5); }

.col-11 {
  width: calc(100% / 12 * 11); }

.col-12 {
  width: 100%; }

.d-none {
  display: none !important; }

.d-block {
  display: block !important; }

.d-flex {
  display: flex !important; }

@media only screen and (max-width: 1400px) {
  .d-xl-none {
    display: none !important; }
  .d-xl-block {
    display: block !important; }
  .d-xl-flex {
    display: flex !important; }
  .container {
    width: 1200px; }
  .col-xl-1 {
    width: calc(100% / 12); }
  .col-xl-2 {
    width: calc(100% / 6); }
  .col-xl-3 {
    width: calc(100% / 4); }
  .col-xl-4 {
    width: calc(100% / 3); }
  .col-xl-5 {
    width: calc(100% / 12 *5); }
  .col-xl-6 {
    width: calc(100% / 2); }
  .col-xl-7 {
    width: calc(100% / 12 * 7); }
  .col-xl-8 {
    width: calc(100% / 3 * 2); }
  .col-xl-9 {
    width: calc(100% / 4 * 3); }
  .col-xl-10 {
    width: calc(100% / 6 * 5); }
  .col-xl-11 {
    width: calc(100% / 12 * 11); }
  .col-xl-12 {
    width: 100%; } }

@media only screen and (max-width: 1200px) {
  .d-lg-none {
    display: none !important; }
  .d-lg-block {
    display: block !important; }
  .d-lg-flex {
    display: flex !important; }
  .container {
    width: 1040px; }
  .col-lg-1 {
    width: calc(100% / 12); }
  .col-lg-2 {
    width: calc(100% / 6); }
  .col-lg-3 {
    width: calc(100% / 4); }
  .col-lg-4 {
    width: calc(100% / 3); }
  .col-lg-5 {
    width: calc(100% / 12 *5); }
  .col-lg-6 {
    width: calc(100% / 2); }
  .col-lg-7 {
    width: calc(100% / 12 * 7); }
  .col-lg-8 {
    width: calc(100% / 3 * 2); }
  .col-lg-9 {
    width: calc(100% / 4 * 3); }
  .col-lg-10 {
    width: calc(100% / 6 * 5); }
  .col-lg-11 {
    width: calc(100% / 12 * 11); }
  .col-lg-12 {
    width: 100%; } }

@media only screen and (max-width: 992px) {
  .d-md-none {
    display: none !important; }
  .d-md-block {
    display: block !important; }
  .d-md-flex {
    display: flex !important; }
  .container {
    width: 720px; }
  .col-md-1 {
    width: calc(100% / 12); }
  .col-md-2 {
    width: calc(100% / 6); }
  .col-md-3 {
    width: calc(100% / 4); }
  .col-md-4 {
    width: calc(100% / 3); }
  .col-md-5 {
    width: calc(100% / 12 *5); }
  .col-md-6 {
    width: calc(100% / 2); }
  .col-md-7 {
    width: calc(100% / 12 * 7); }
  .col-md-8 {
    width: calc(100% / 3 * 2); }
  .col-md-9 {
    width: calc(100% / 4 * 3); }
  .col-md-10 {
    width: calc(100% / 6 * 5); }
  .col-md-11 {
    width: calc(100% / 12 * 11); }
  .col-md-12 {
    width: 100%; } }

@media only screen and (max-width: 768px) {
  .d-sm-none {
    display: none !important; }
  .d-sm-block {
    display: block !important; }
  .d-sm-flex {
    display: flex !important; }
  .container {
    width: 540px; }
  .col-sm-1 {
    width: calc(100% / 12); }
  .col-sm-2 {
    width: calc(100% / 6); }
  .col-sm-3 {
    width: calc(100% / 4); }
  .col-sm-4 {
    width: calc(100% / 3); }
  .col-sm-5 {
    width: calc(100% / 12 *5); }
  .col-sm-6 {
    width: calc(100% / 2); }
  .col-sm-7 {
    width: calc(100% / 12 * 7); }
  .col-sm-8 {
    width: calc(100% / 3 * 2); }
  .col-sm-9 {
    width: calc(100% / 4 * 3); }
  .col-sm-10 {
    width: calc(100% / 6 * 5); }
  .col-sm-11 {
    width: calc(100% / 12 * 11); }
  .col-sm-12 {
    width: 100%; } }

@media only screen and (max-width: 576px) {
  .d-xs-none {
    display: none !important; }
  .d-xs-block {
    display: block !important; }
  .d-xs-flex {
    display: flex !important; }
  .container {
    width: 100%; }
  .col-xs-1 {
    width: calc(100% / 12); }
  .col-xs-2 {
    width: calc(100% / 6); }
  .col-xs-3 {
    width: calc(100% / 4); }
  .col-xs-4 {
    width: calc(100% / 3); }
  .col-xs-5 {
    width: calc(100% / 12 *5); }
  .col-xs-6 {
    width: calc(100% / 2); }
  .col-xs-7 {
    width: calc(100% / 12 * 7); }
  .col-xs-8 {
    width: calc(100% / 3 * 2); }
  .col-xs-9 {
    width: calc(100% / 4 * 3); }
  .col-xs-10 {
    width: calc(100% / 6 * 5); }
  .col-xs-11 {
    width: calc(100% / 12 * 11); }
  .col-xs-12 {
    width: 100%; } }

.m-5 {
  padding-top: 50px;
  margin-bottom: 50px; }

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; }

header {
  margin-top: 30px; }
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header .header__left {
    display: flex;
    align-items: center;
    gap: 50px; }
    header .header__left__input {
      position: relative;
      align-items: center;
      display: flex; }
      header .header__left__input__search {
        left: 14px; }
      header .header__left__input__filter {
        right: 14px; }
      header .header__left__input input {
        width: 100%;
        max-width: 492px;
        padding: 14px 44px;
        border-radius: 16px;
        border: 1px solid #C3D4E9; }
      header .header__left__input img {
        position: absolute; }
    header .header__left a {
      color: #3563E9; }
  header .header__right {
    display: flex;
    gap: 20px; }
    header .header__right img {
      width: 44px;
      height: 44px; }
    header .header__right__btn {
      display: flex; }
      header .header__right__btn a {
        padding: 14px;
        border: none;
        background-color: #3563E9;
        color: white;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 10px; }
        header .header__right__btn a:hover {
          cursor: pointer; }

@media screen and (max-width: 1056px) {
  header {
    display: flex;
    justify-content: center; }
    header .header__right {
      display: flex;
      justify-content: center; }
      header .header__right__btn {
        display: none; }
      header .header__right__display {
        display: none; }
  .container {
    padding: 0 20px; }
  .header__left {
    flex: 1;
    margin-right: 20px; }
  .header_left_input {
    display: none; }
  .header__right {
    flex: 1; }
  .header_right_btn {
    display: none; }
  .header_right_display img {
    width: 25px;
    margin-right: 10px; } }

@media (max-width: 375px) {
  header .container {
    align-items: stretch;
    padding: 0 10%;
    justify-content: center;
    display: flex;
    width: 300px; }
    header .container .header_right_btn {
      display: none; }
  header .header__left {
    display: flex;
    flex-wrap: wrap; }
    header .header__left__input {
      width: 240px; }
  header .header__left,
  header .header__right {
    width: 100%;
    text-align: center;
    margin-bottom: 20px; }
  header .header_right_display {
    display: none; } }

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; }

.rent__section .container {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding-top: 50px;
  font-family: 'Plus';
  margin-bottom: 50px; }

.rent__section__left {
  background-color: #54A6FF;
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
  .rent__section__left__pos {
    width: 100%;
    height: 100%; }
  .rent__section__left__text {
    position: absolute;
    top: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white; }
    .rent__section__left__text h1 {
      font-size: 32px;
      font-weight: bold; }
    .rent__section__left__text button {
      padding: 12px;
      border: none;
      color: white;
      background-color: #3563E9;
      width: 120px;
      border-radius: 6px;
      font-weight: 500; }

.rent__section__right {
  background-color: #3563E9;
  position: relative;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; }
  .rent__section__right__pos {
    width: 100%;
    height: 100%; }
  .rent__section__right__text {
    position: absolute;
    top: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white; }
    .rent__section__right__text h1 {
      font-size: 32px;
      font-weight: bold; }
    .rent__section__right__text button {
      padding: 12px;
      border: none;
      color: white;
      background-color: #54A6FF;
      width: 120px;
      border-radius: 6px;
      font-weight: 500; }

.rent_info_section .container {
  display: flex;
  justify-content: space-around; }

.rent_info_section__left {
  padding: 22px;
  border: 1px solid #FFFFFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 14px; }
  .rent_info_section__left__loc {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .rent_info_section__left__loc__sel {
      display: flex;
      gap: 8px;
      color: #90A3BF;
      align-items: center; }
  .rent_info_section__left__cont {
    display: flex;
    align-items: center;
    gap: 36px; }
  .rent_info_section__left__date {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .rent_info_section__left__date__sel {
      display: flex;
      gap: 8px;
      color: #90A3BF;
      align-items: center; }
  .rent_info_section__left__time {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .rent_info_section__left__time__sel {
      display: flex;
      gap: 8px;
      color: #90A3BF;
      align-items: center; }

.rent_info_section__right {
  padding: 22px;
  border: 1px solid #FFFFFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 14px; }
  .rent_info_section__right__loc {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .rent_info_section__right__loc__sel {
      display: flex;
      gap: 8px;
      color: #90A3BF;
      align-items: center; }
  .rent_info_section__right__cont {
    display: flex;
    align-items: center;
    gap: 36px; }
  .rent_info_section__right__date {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .rent_info_section__right__date__sel {
      display: flex;
      gap: 8px;
      color: #90A3BF;
      align-items: center; }
  .rent_info_section__right__time {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px; }
    .rent_info_section__right__time__sel {
      display: flex;
      gap: 8px;
      color: #90A3BF;
      align-items: center; }

@media screen and (max-width: 375px) {
  .rent__section .container {
    flex-direction: column;
    align-items: center;
    width: 300px; }
  .rent_section_left {
    width: 100%;
    margin-bottom: 20px; }
    .rent_section_left p {
      display: none; }
    .rent_section_left button {
      width: 76% !important;
      position: absolute;
      bottom: 20px;
      height: 40px;
      display: flex;
      align-items: center; }
    .rent_section_left h1 {
      font-size: 18px; }
  .rent_section_right {
    display: none; }
  .rent_info_section .container {
    flex-direction: column;
    align-items: center; }
  .rent_infosection_left,
  .rent_infosection_right {
    width: 320px;
    margin-bottom: 20px;
    padding: 15px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 14px; }
  .rent_infosectionleft_loc,
  .rent_infosectionleft_date,
  .rent_infosectionleft_time,
  .rent_infosectionright_loc,
  .rent_infosectionright_date,
  .rent_infosectionright_time {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px; }
  .rent_infosectionleft_sel,
  .rent_infosectionright_sel {
    display: flex;
    gap: 8px;
    color: #90A3BF;
    align-items: center; }
  .rent_infosectionleft_cont,
  .rent_infosectionright_cont {
    display: flex;
    align-items: center;
    gap: 36px; } }

@media screen and (max-width: 1056px) {
  .rent__section .container {
    flex-direction: column;
    align-items: center; }
  .rent_section_left,
  .rent_section_right {
    margin-bottom: 20px; }
  .rent_sectionleft_pos,
  .rent_sectionright_pos {
    width: 100%; }
  .rent_sectionleft_text,
  .rent_sectionright_text {
    position: static;
    padding: 30px;
    text-align: center; }
  .rent_sectionleft_text h1,
  .rent_sectionright_text h1 {
    font-size: 24px; }
  .rent_sectionleft_text button,
  .rent_sectionright_text button {
    width: 100%; }
  .rent_info_section .container {
    flex-direction: column;
    align-items: center; }
  .rent_infosection_left,
  .rent_infosection_right {
    margin-bottom: 20px; }
  .rent_infosection_left,
  .rent_infosection_right {
    padding: 15px; }
  .rent_infosection_icon {
    display: none; } }

.addForm {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #3563E9;
  color: #fff;
  padding: 40px; }
  .addForm form {
    width: 70%; }
  .addForm__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #54A6FF; }

.card {
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 1%;
  width: 15%;
  min-width: 300px; }
  .card__header {
    display: flex;
    justify-content: space-between; }
    .card__header__left h5 {
      font-size: 24px;
      margin-bottom: 1%; }
    .card__header__left span {
      color: #b9b9b9;
      font-size: 16px; }
    .card__header button {
      background-color: white;
      border: none;
      width: 24px;
      height: 24px; }
      .card__header button i {
        font-size: 24px;
        color: #ED3F3F; }
  .card__img {
    padding: 25% 0%; }
  .card__properties {
    margin-top: 3%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 2%;
    font-size: 16px;
    margin-bottom: 10%; }
    .card__properties img {
      width: 16px; }
    .card__properties span {
      margin-right: 10px; }
  .card__bottom {
    display: flex; }
    .card__bottom__left span {
      font-size: 24px; }
    .card__bottom button {
      margin-left: 40px;
      border-radius: 5px;
      background-color: #3563E9;
      padding: 10px;
      border: none;
      color: white; }

@media screen and (max-width: 768px) {
  .card {
    width: 50%; }
  .card__header {
    flex-direction: column;
    align-items: center; } }

/* Modify the CSS */
#delete {
  border: none;
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  color: white; }

tbody tr td img {
  width: 100px; }

.view {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  color: #a1a1a1;
  margin-bottom: 7%; }

.all {
  color: #3563E9; }

.cars {
  margin-left: -3%;
  display: flex;
  gap: 5%; }

@media screen and (max-width: 1000px) {
  .cars {
    margin-left: -3%;
    display: flex;
    gap: 5%;
    overflow-x: scroll;
    position: relative; }
  .cars::before {
    content: "";
    width: 100px;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
    position: absolute;
    right: -10px;
    z-index: 100; } }

.check i {
  color: transparent !important;
  text-shadow: 0px 0px 1px black; }
