.foot1{
    display: flex;
    padding: 5% 0%;
    &__left{
       p{
        width: 50%;
        font-size: 16px;
        color: rgb(133, 133, 133);
       }
       h2{
        font-size: 32px;
        margin-bottom: 3%;
        color: #3563E9;
       }
    }

}
.foot1__right{
    display: flex;
    gap: 5%;
    ul{  
        display: flex;
        flex-direction: column;
        h2{
            margin-bottom: 10%;
        }
        li{
            margin-top: 15%;
            color: rgb(134, 134, 134);
            font-size:16px;
        }
        
    }
}

.foot2{
    display: flex;
    justify-content: space-between;
    padding: 3% 0%;
    border-top: 1px solid gray;
    &__right{
        display: flex;
        gap: 10%;
        span{
            font-size: 16px;
        }
    }
}
hr{
    width: 90%;
    color: rgb(206, 206, 206);
}

@media screen and (max-width: 1056px) {
    .foot1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .foot1__left {
        width: 100%;
        margin-bottom: 20px;
    }

    .foot1__left h2 {
        font-size: 24px; 
        margin-bottom: 10px; 
    }

    .foot1__left p {
        width: 100%; 
        font-size: 14px; 
    }

    .foot1__right {
        width: 100%;
        flex-direction: column;
        gap: 20px; 
    }

    .foot1__right ul {
        width: 100%;
        margin: 0; 
    }

    .foot1__right ul h2 {
        font-size: 18px; 
        margin-bottom: 5px; 
    }

    .foot1__right ul li {
        margin: 0; 
    }

    .foot2 {
        flex-direction: column;
        align-items: center;
        padding: 10px 0; 
    }

    .foot2_right {
        width: 100%;
        text-align: center;
        gap: 10px; 
    }
}


@media screen and (max-width: 375px) {
    .foot1 {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .foot1__left {
        width: 100%;
        margin-bottom: 20px;
    }

    .foot1__left h2 {
        font-size: 24px; 
        margin-bottom: 10px; 
    }

    .foot1__left p {
        width: 100%; 
        font-size: 14px; 
    }

    .foot1__right {
        width: 100%;
        flex-direction: column;
        gap: 20px; 
    }

    .foot1__right ul {
        width: 100%;
        margin: 0; 
    }

    .foot1__right ul h2 {
        font-size: 18px; 
        margin-bottom: 5px; 
    }

    .foot1__right ul li {
        margin: 0; 
    }

    .foot2 {
        flex-direction: column;
        align-items: center;
        padding: 10px 0; 
    }

    .foot2_right {
        width: 100%;
        text-align: center;
        gap: 10px; 
    }
}

