@import "../utils/variables";
@import "../base/typography";

header{
    margin-top: 30px;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .header__left{
        display: flex;
  
       align-items: center;
         gap: 50px;

       &__input{
         position: relative;
         align-items: center;
            display: flex;
            
         
         &__search{
            left: 14px;
        
         }

         &__filter{
            right: 14px;
           
         }
         
         
         input{
            width: 100%; 
            max-width: 492px; 
            padding: 14px 44px;
            border-radius: 16px;
            border:  1px solid #C3D4E9;
         }
         
         img{
            position: absolute;
         }
       }
        a{
            color: $main-color;
        }
    }

    .header__right{
        display: flex;
        gap: 20px;

        img{
            width: 44px;
            height: 44px;
        }

        &__btn{
            display: flex;
            

            a{
                padding: 14px;
                border: none;
                background-color: $main-color;
                color: white;
                border-radius: 10px;
                display: flex;
                align-items: center;
                gap: 10px;

               &:hover{
                cursor: pointer;
               }
            }
            
        }
    }
}

@media screen and (max-width: 1056px) {

  header{
    display: flex;
        justify-content: center;
       
    .header__right{
        display: flex;
        justify-content: center;

        &__btn{
            display: none;
        }
        &__display{
            display: none;
        }
    }
  }

    .container {
        padding: 0 20px; 
    }

    .header__left {
        flex: 1; 
        margin-right: 20px; 
    }

    .header_left_input {
        display: none; 
    }

    .header__right {
        flex: 1; 
    }

    .header_right_btn {
        display: none; 
    }

    .header_right_display img {
        width: 25px; 
        margin-right: 10px; 
    }
}


@media (max-width: 375px) {
    header {

    .container {
        
        align-items: stretch; 
        padding:0 10% ;
        justify-content: center;
        display: flex;
        width: 300px;
       
        
        .header_right_btn{
            display: none;
         }
    }

    .header__left{
        display: flex;
        flex-wrap: wrap;

        &__input{
            width: 240px;

            
        }
    }

    .header__left,
    .header__right {
        width: 100%;
        text-align: center; 
        margin-bottom: 20px; 
    }

    .header_right_display{
        display: none;

       
    }

    
    
}}

